

*{
  margin: 0;
  padding: 0;
}

/* Fonts */
@font-face {
  font-family: oswald;
  src: url(../fonts/oswald-regular.woff) format('woff')
}
@font-face {
  font-family: oswaldLight;
  src: url(../fonts/oswald-light.woff) format('woff')
}
@font-face {
  font-family: oswaldBold;
  src: url(../fonts/oswald-bold.woff) format('woff')
}
@font-face {
  font-family: oswaldMedium;
  src: url(../fonts/oswald-medium.woff) format('woff')
}
@font-face {
  font-family: average;
  src: url(../fonts/Average-Regular.ttf)
}


/* Global */
body, html{
  height:100%;
  margin:0;
  font-family: average, garamond, serif;
  line-height: 2em;
  color: #1a1a1a;
}

.pTitle{
  font-family: oswald, sans-serif;
  font-size: 2em;
  line-height: 2em;
}

a{
  color: white;
  font-family: oswaldLight;
  text-decoration: none;
  font-size: 1.5em;
  padding: .3em 1em;
  background-color: #1a1a1a;
}

a:hover{
  color: #00ffcc;
  font-style: italic;

}

/* Landing Page */
.pimg1{
  opacity:.8;
  position: relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-image:url('../img/landing2.jpg');
  height:100%;
}


.ptext{ /* FIX: center fine for desktop - resolve text size in media query */
  position: absolute;
  top: 15%;
  width: 100%;
  color: #fff;
  font-family: oswaldBold, sans-serif;
  font-size: 5em;
  line-height: 1.2em;
  text-align: center;
  text-shadow: 0 2px 10px #000;
}

#kara{
  color:#00ffcc;
}

#gd, #dev, #phot{
  font-family: oswaldLight, sans-serif;
  color:#00ffcc;

}




/* About */
.about{
  padding:50px 80px;
  font-size: 1.5em;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.aboutCont{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 500px;


}

.about p{
  align-self: center;
}



.aboutImg{
  background-image:url('../img/aboutsvg.svg');
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
}

/* Portfolio */
/* Begin Test Grid */


 .gridCont{
   background-color: grey;
   display: grid;
   grid-template-columns: 3fr 1fr;
   grid-auto-rows: 250px;
   color: transparent;
 }

.gridCont .pTitle {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align:center;
 }

 .gridCont p{
   font-size: 1.5em;
   text-align:center;
 }

 .portImg{
   background-size: cover;
   background-repeat:no-repeat;
   background-position: center;
 }

 .portImg:hover{
   background-color: white;
   color:black;
   background-image:none;
 }

 .feat{
   background-color: lightblue;
   grid-row: 1/3;
 }

 .prevFeat{
   background-color: lightpink;
   grid-row: 1/4;
 }

 .featGal{
   background-color: lightgreen;
   display: grid;
   grid-template-columns:repeat(3, 1fr);
   grid-auto-rows: 250px;
   grid-column: 1;
 }

.ft1{
  background-image:url('../img/aboutsvg.svg');
}
.ft2{
  background-image:url('../img/aboutsvg.svg');
}
.ft3{
  background-image:url('../img/aboutsvg.svg');
}

 .oldWork{
   background-color: purple;
   display: grid;
   grid-template-columns:repeat(4, 1fr);
   grid-auto-rows: 125px;
   grid-column: 1/3;
 }

 .ol1{
   background-image:url('../img/cmykart.png');
 }
 .ol2{
   background-image:url('../img/cmykart.png');
 }
 .ol3{
   background-image:url('../img/cmykart.png');
 }
 .ol4{
   background-image:url('../img/cmykart.png');
 }
 .ol5{
   background-image:url('../img/cmykart.png');
 }
 .ol6{
   background-image:url('../img/cmykart.png');
 }
 .ol7{
   background-image:url('../img/cmykart.png');
 }
 .ol8{
   background-image:url('../img/cmykart.png');
 }




/* Footer */
footer{
  background-color: #1a1a1a;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 80px;
}

footer p{
  color: white;
  text-align: center;
  align-self:center;
}

}

/* TODO: edit media queries - make responsive */
@media(max-width:568px){
  .pimg1{
    background-attachment:scroll;
  }
